.navbar {
  background-color: #ffe3d0;
}

.nav-links {
  display: flex;
  justify-content: flex-end; /* right align links */
  align-items: center;
  gap: 24px;
  list-style: none;
  padding: 12px 16px;
  margin: 0;
}

.nav-links a {
  color: #0262de;
  text-decoration: none;
  font-weight: 600;
}

.nav-links a:visited {
  color: #0262de;
}

.nav-links a:hover {
  color: blue;
}